@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  </h1>
    <p>Get free services and support from our experts.</p>
    <p>We value your feedback.</p>
</div>
